.sidebar {
    height: 100vh;
    display: flex;
    p {
        color: #8f9296;
    }
}
img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

// 左側のサイドバー
.sidebar_left {
    width: 80px;
    background-color: #202225;
    display: flex;
    flex-direction: column;
    align-items: center;
    .server_icon {
        margin-top: 12px;
        background-color: gray;
        border-radius: 999px;
        width: 80%;
        padding: 12px;
    }
}

// 右側のサイドバー
.sidebar_right {
    width: 340px;
    background-color: #303137;
    overflow: scroll;
    position: relative;
    .right_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #000;
        color: #fff;
        height: 4rem;
        padding: 0px 16px;
    }
    .channel_box {
        margin-top: 18px;
        .contents_box {
            color: #8f9296;
            width: 95%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.85rem;
            .contents_title {
                background-color: #303137;
                color: #8f9296;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;
            }
            svg:nth-child(1) {
                transform: rotate(270deg);
            }
            svg:nth-child(2):hover {
                transition: 0.2s;
                color: white;
                cursor: pointer;
            }
        }
        h4 {
            color: #8f9296;
            font-size: 1.25rem;
            margin-left: 1rem;
            padding: 0.5rem;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                color: white;
            }
            .channel_hash {
                margin-right: 0.65rem;
            }
        }
    }
    .right_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 2px solid #000;
        color: #8f9296;
        height: 4rem;
        .footer_myarea {
            display: flex;
            align-items: center;
            .right_myinfo {
                margin-left: 0.5rem;
                .user_name {
                    font-weight: bold;
                    color: white;
                    padding-bottom: 0.2em;
                }
            }
        }
        .server_icon {
            background-color: gray;
            border-radius: 999px;
            width: 40px;
            padding: 8px;
        }
        svg {
            margin-right: 0.65em;
        }
    }
}
